# Python / venv / logs
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
*.log

# Variáveis/segredos locais
.env
.env.*
.streamlit/secrets.toml

# Arquivos locais de testes
database/*.db

# SO e IDE
.DS_Store
Thumbs.db
.vscode/
.idea/